<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=League+Gothic&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>  

    <div class="logo">
        <img src="/images/logo.png" alt="Logo" height="60px">
    </div>

    <div class="exit-btn">
       <a href="/">
        <div>
            <p>Exit</p>
        </div>
       </a>   
    </div>
    </header>

    <div class="title">
        <h1 class="anton-sc-regular">Login Page</h1>
    </div>

    <div>
        <p class="subheading">
            If you do not have an account, <a href="/register" style="margin-left: 5px;">Register Here!</a>
        </p>
    </div>

    <% if(locals.message) { %>
        <section style="display: flex; justify-content: center;">
            <div class="alert alert-danger" role="alert" style="width: 50%; background-color: #DA6C6C; border-radius: 15px; border:  2px solid black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            <p style="display: flex; justify-content: center; font-size: 30px;"><%= message %></p>
            </div>
        </section>
    <% } %>

    <section class="register">

        <form action="/login" method="post">
            <div>
              <label for="username">Username: </label>
            <input type="text" name="username" maxlength="15">   
            </div>
            <div>
              <label for="password">Password: </label>
            <input type="password" name="password">  
            </div>
            <div>
              <input type="submit" value="Login">  
            </div>
            
        </form>
    </section>
</body>
</html>