<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=League+Gothic&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>  

    <div class="logo">
        <img src="/images/logo.png" alt="Logo" height="60px">
    </div>

    <div class="exit-btn">
       <a href="/">
        <div>
            <p>Exit</p>
        </div>
       </a>   
    </div>
    </header>

    <div class="title">
        <h1 class="anton-sc-regular">Registration Page</h1>
    </div>


    <div>
        <p class="subheading">
            Create an account to join the leaderboard sweepstakes!
        </p>
    </div>

    <section class="register">

        <form action="/register" method="post">
            <div>
              <label for="username">Username: </label>
            <input type="text" name="username" maxlength="15">   
            </div>
            <div>
              <label for="password">Password: </label>
            <input type="password" name="password">  
            </div>
            <div>
              <input type="submit" value="Register">  
            </div>
            
        </form>
    </section>
</body>
</html>